{
  "presets": [
    ["@babel/preset-env", { "targets": "defaults, not dead" }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "version": "legacy" }]
  ]
}
